<<<<<<< HEAD
body{
  background-color: #EAF6F6;
=======
body {
  background-color: #eaf6f6;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}
.container {
  font-family: sans-serif;
  padding: 0px 5px;
}

.title {
  text-align: center;
  padding: 20px;
<<<<<<< HEAD
  background-color: #66BFBF;

=======
  background-color: #66bfbf;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.flex-hor {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.flex-hor > div {
  margin: 6px;
  margin-left: auto;
  margin-right: auto;
}

.stats-title {
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
<<<<<<< HEAD
  background-color: #66BFBF;

=======
  background-color: #66bfbf;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.item-title {
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
<<<<<<< HEAD
  background-color: #66BFBF;

=======
  background-color: #66bfbf;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.gear {
  display: flex;
  height: auto;
  width: fit-content;
  border: 1px solid;
  border-radius: 7px;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.Title {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
<<<<<<< HEAD
  
=======
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.Defense {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
<<<<<<< HEAD
  background-color: #B2C8DF;
=======
  background-color: #b2c8df;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.Damage {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
<<<<<<< HEAD
  background-color: #FF0063;

=======
  background-color: #ff0063;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.items-list {
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.label-toggle {
  height: auto;
  width: fit-content;
  display: flex;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 7px;
<<<<<<< HEAD
  background-color: #6E85B7;
  padding:10px;
=======
  background-color: #6e85b7;
  padding: 10px;
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
}

.label-toggle-text {
  font-size: larger;
}

<<<<<<< HEAD
.flex-hor{
=======
.flex-hor {
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

<<<<<<< HEAD
.damage-display{
=======
.damage-display {
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
<<<<<<< HEAD
  background-color: #B2C8DF;

}

.defence-display{
=======
  background-color: #b2c8df;
}

.defense-display {
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
<<<<<<< HEAD
  background-color: #FF0063;


}
=======
  background-color: #ff0063;
}
>>>>>>> 8cf4af2e9406407ec3f868d10c48abf269cfe664
