body {
  background-color: #eaf6f6;
}
.container {
  font-family: sans-serif;
  padding: 0px 5px;
}

.title {
  text-align: center;
  padding: 20px;
  background-color: #66bfbf;
}

.flex-hor {
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.flex-hor > div {
  margin: 6px;
  margin-left: auto;
  margin-right: auto;
}

.stats-title {
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
  background-color: #66bfbf;
}

.item-title {
  text-align: center;
  border: 1px solid;
  border-radius: 7px;
  background-color: #66bfbf;
}

.gear {
  display: flex;
  height: auto;
  width: fit-content;
  border: 1px solid;
  border-radius: 7px;
  margin: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.Title {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
}

.Defense {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
  background-color: #b2c8df;
}

.Damage {
  border: 1px solid;
  border-radius: 7px;
  margin: 4px;
  padding: 10px;
  background-color: #ff0063;
}

.items-list {
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.label-toggle {
  height: auto;
  width: fit-content;
  display: flex;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  border-radius: 7px;
  background-color: #6e85b7;
  padding: 10px;
}

.label-toggle-text {
  font-size: larger;
}

.flex-hor {
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.damage-display {
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff0063;
}

.defense-display {
  padding: 10px;
  border: 1px solid;
  border-radius: 7px;
  width: fit-content;
  margin-left: auto;
  margin-right: 5px;
  background-color: #b2c8df;
}
