.main-client-container {
  display: flex;
  justify-content: space-between;
  /* padding: 64px 96px; */
}
.title-client-container {
  font-weight: 700;
  font-size: 50px;
  line-height: 72px;
  display: flex;
  align-items: center;
  color: #262626;
  padding: 11vh 8vh;
}
.brand-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vh;
  grid-auto-rows: minmax(100px, auto);
  padding: 11vh 8vh;
}
.brand-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
